.container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      color: rgb(41, 127, 248);
    }
   
    
    .row2 {
      display: flex;
      flex: 1;
    }
    
    
    .chat-list h2 {
      margin-bottom: 20px;
    }
    
    .chat-list ul {
      list-style-type: none;
      padding: 0;
    }
    
    .chat-list ul li {
      padding: 10px;
      cursor: pointer;
    }
    
    .chat-list ul li:hover {
      background-color: #9bb4f3;
    }
    
    
    
    
    
  
    
    
    
 
    
   
    