/* CSS cho khung chat */
.chat-box {
  position: absolute;
  top: 52%;
  left: 63%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 999;
  height: 77%;
  width: 52%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS cho phần header của khung chat */
.chat-header {
  background-color: #4267b2;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* CSS cho tiêu đề trong phần header của khung chat */
.chat-header h3 {
  margin: 0;
}

/* CSS cho phần chứa tin nhắn trong khung chat */
.chat-messages {
  overflow-y: auto;
  height: calc(100% - 150px);
  padding: 10px;
}

/* CSS cho mỗi tin nhắn */
.message {
  margin-bottom: 10px;
  position: relative;
}

/* CSS cho tin nhắn gửi đi */
.message.sender {
  text-align: right;
}

/* CSS cho tin nhắn nhận được */
.message.receiver {
  text-align: left;
}

/* CSS cho nội dung của tin nhắn */
.message-text {
  background-color: #e1ffc7;
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
}

/* CSS cho thời gian của tin nhắn */
.message-time {
  font-size: 12px;
  color: #666;
  position: absolute;
  left: 45%;
  
}

/* CSS cho phần nhập tin nhắn */
.chat-input {
  padding: 5px;
  border-top: 1px solid #ccc;
}

/* CSS cho ô nhập tin nhắn */
.chat-input input[type="text"] {
  width: calc(90% - 80px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* CSS cho nút gửi tin nhắn */
.chat-input button {
  background-color: #4267b2;
  color: #fff;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

/* CSS cho nút chọn tệp */
.file-label {
  background-color: #4267b2;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* CSS cho tên tệp đã chọn */
.selected-file {
  margin-left: 10px;
}

/* CSS cho hình ảnh trong tin nhắn */
.chat-image {
  max-width: 100%;
  max-height: 200px;
  /*display: block;*/
  margin: 5px 0;
}

.chat-videos{
 max-width: 50%;
 max-height: 60%;
 margin: 5px 0;
}
/* CSS cho video trong tin nhắn */

.emoji-picker-container {
  bottom: 10px; /*Đặt bottom để đặt emoji picker lên trên input */
  /*left: 50%;*/
  /* transform: translateX(-50%);  Để căn giữa theo chiều ngang */
  z-index: 999; /* Đảm bảo emoji picker hiển thị trên tất cả các phần khác */
}
