
.chat-avt{
  
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: aliceblue;
}
    .chat-list {
      max-height: 300px;
      overflow-y: auto;
    }
    
    .chat-item {
      padding: 10px;
      border-bottom: 1px solid #38bfc6;
    }
    
    .chat-sender {
      font-weight: bold;
    }
    
    .chat-message {
      margin-top: 5px;
      font-size: 14px;
    }
    
    