
.chat {
      display: flex;
      flex-direction: column;
    }
    
    .chat > div {
      flex-grow: 1;
      text-align: center;
      padding: 15px;
      cursor: pointer;
      align-items: center;
    }
    
    .navBarChat {
      display: flex;
      justify-content: space-around; 
      border-bottom: 2px solid #ccc; 
      padding-bottom: 10px;
    }
.bb{
  height: 40px;
  width: 40%;
  background-color: rgb(121, 244, 249);
  
  
}

.Nhom2{
  height: 40px;
  width: 40%;
  background-color: rgb(121, 244, 249);
  margin-left:1px ;
} 


  


    