.container-cloud {
  display: flex;
  height: 50vh;
  width: 100%;
}

.row1-cloud{
  border: 1px;
  border-radius: 50px;
  border-width: 1px;
  border-color: black;
  width: 380px;
  margin-right: 10px;
}

.mycloud {
  height: 60px;
  width: 970px;
  background-color: rgb(230, 228, 228);
  position: sticky;
  top: 0;
  z-index: 1;
}

.tit {
  font-weight: bold;
}

.title2 {
  margin-top: 0px;
  font-size: 15px;
  color: gray;
}

.message-input {
  /* Thêm các thuộc tính styling cần thiết */
}

.inputText {
  margin-left: 600px;
  height: 50px;
  width: 700px;
  border-color: rgb(241, 236, 236);
  border-width: 1px;
  border-radius: 3px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.btnSend{
  height: 30px;
  border-radius: 10px;
  border-width: 1px;
  border-color:rgb(20, 5, 192);
  background-color: rgba(246, 246, 252, 0.844);
  margin-left: 20px;
  color: rgb(20, 5, 192);
}
.btnFile{
  height: 30px;
  border-radius: 10px;
  border-width: 1px;
  border-color:rgb(20, 5, 192);
  background-color:rgba(246, 246, 252, 0.844);
  margin-left: 20px;
  color:rgb(20, 5, 192);

}

.nametext{
  height: 50px;
  width: 300px ;
  border-width: 1px;
  border-color: rgb(19, 134, 206);
  background-color: rgb(109, 158, 213);
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 550px;
}
.name-cloud{
  font-weight: bold;
}
.anhmay{
  margin-left: 250px;
  border-radius: 100px;
}
.roww-cloud{
  height: 600px;
  width: 1000px;
  overflow:scroll;
  background-color: rgb(75, 88, 100);
}