
.container-cloud {
  display: flex;
  height: 100vh;
  width: 100%;
}

  .titelAria{
    display: flex;
  align-items: center;

  }

  .mycloud{
    height: 60px;
    width: 150vh;
    background-color: rgb(240, 239, 238);
  }
  .tit{
    font-weight: bold;
  }
  .title2{
    margin-top: 0px;
    font-size: 15px;
    color: gray;
  }
