.container-dangki {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .v1-dangki {
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin-top: 100px;
  }
  
  .h2-dangki {
    color: #007bff;
  }
  
  .inputContainer-dangki {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: Arial;
  }
  
  .input-dangki {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  
  .button-dangki {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Arial;
  }
  
  .h1-dangki {
    color: #007bff;
    margin-right: 200px;
    padding: 50px;
  }
  