
.container {
      display: flex;
      flex-direction: column;
      max-width: 600px;
      margin: auto;
      padding: 20px;
    }
    
    .title {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }
    
    .groupList {
      list-style-type: none;
      padding: 0;
    }
    
  
    .groupItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      border: 1px solid #ddd;
      margin-bottom: 5px;
      border-radius: 5px;
    }
    
    .groupItemContent {
      display: flex;
      align-items: center;
    }
    
    .groupImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }
    
    
   
    
    .groupItem strong {
      color: #007bff;
    }
    
    .showChat {
      margin-top: 20px;
    }
    