.danhBa{
     
      div{
            height: 35px;
            width: 100%;
            border: none;
            background-color: rgb(52, 152, 74);
            margin-top: 5px;
            padding: 10px;
            text-align: center;
            color: white;

      }
}