.danhBa{
     
      div{
            height: 35px;
            width: 90%;
            border: none;
            background-color: #418df8;
            margin-top: 5px;
            margin-left: 5px;
            padding: 10px;
            text-align: center;
            color: white;

      }
}