.container-forgotpassword {
    flex: 1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .v1-forgotpassword {
    height: 400px;
    width: 300px;
    background-color: white;
    padding: 20px;
    border: 2px solid #418df8;
    /* box-shadow: 15px 20px 20px 20px rgb(61, 231, 61); */
    border-radius: 10px;
    margin-top: 100px;
  }
  
  .h2-forgotpassword {
    color:#418df8;
    padding: 10px;
  }
  
  .inputContainer-forgotpassword {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    font-family: arial;
  }
  
  .input-forgotpassword {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
  
  .button-forgotpassword {
    background-color: #418df8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: arial;
    margin-left: 120px;
  }
  
  .h1-forgotpassword {
    color: #007bff;
    margin-right: 200px;
    padding: 50px;
  }
  
  .forgot-forgotpassword {
    color: #007bff;
    margin-left: 100px;
  }
  
  .h6-forgotpassword {
    color: #007bff;
  }
  