/* CSS cho khung chat */
.groupChat {
  position: absolute;
  top: 55%;
  left: 68%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 999;
  height: 90%;
  width: 60%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS cho phần header của khung chat */
.groupChat-header {
  background-color: white;
  color: #3c82f4;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  border: 1px solid rgb(56, 123, 224);
 
  flex-direction: row;
  display: flex;
}
.ipSearch{
  border: none;
  background-color: white;
  margin-left: 400px;
  
}

/* CSS cho tiêu đề trong phần header của khung chat */
.groupChat-header h3 {
  margin: 0;
}

/* CSS cho phần chứa tin nhắn trong khung chat */
.groupChat-messages {
  overflow-y: auto;
  height: calc(100% - 150px);
  padding: 10px;
}

/* CSS cho mỗi tin nhắn */
.message {
  margin-bottom: 10px;
  position: relative;
}

/* CSS cho tin nhắn gửi đi */
.g-message.sender {
  text-align: right;
}

/* CSS cho tin nhắn nhận được */
.g-message.receiver {
  text-align: left;
}

/* CSS cho nội dung của tin nhắn */
.g-message-text {
  background-color: #c7ebff;
  padding: 8px;
  border-radius: 8px;
  display: inline-block;
}

/* CSS cho thời gian của tin nhắn */
.g-message-time {
  font-size: 12px;
  color: #666;
  
  left: 55%;
  
}

/* CSS cho phần nhập tin nhắn */
.gchat-input {
  padding: 5px;
  border-top: 1px solid #ccc;
}

/* CSS cho ô nhập tin nhắn */
.gchat-input input[type="text"] {
  width: calc(65% - 80px);
  padding: 5px;
  border: none;
  border-radius: 4px;
}

/* CSS cho nút gửi tin nhắn */
.gchat-input button {
  background-color: white;
  color: #3513f5;
  border: 1px solid   #5577f3;
  padding: 4px 10px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

/* CSS cho nút chọn tệp */
.file-label {
  background-color: #4267b2;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* CSS cho tên tệp đã chọn */
.selected-file {
  margin-left: 10px;
}

/* CSS cho hình ảnh trong tin nhắn */
.groupChat-image {
  max-width: 100%;
  max-height: 200px;
  /*display: block;*/
  margin: 5px 0;
}

.groupChat-videos{
 max-width: 50%;
 max-height: 60%;
 margin: 5px 0;
}

     .dissolution-group {
      display: flex;
      gap: 10px;
    }
    
    .dissolution-group button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .dissolution-group button:nth-child(1) {
      background-color: #4caf50; /* màu xanh lá cây */
      color: white;
    }
    
    .dissolution-group button:nth-child(2) {
      background-color: #f44336; 
      color: white;
    }
    
    .groupChat-header button {
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: red; /* màu xanh da trời */
      color: white;
    }
    
    .groupChat-header button:hover {
      background-color: rgb(217, 138, 138); /* màu xanh đậm khi di chuột vào */
    }
    .themnguoi {
      list-style: none;
      color: #3513f5;
    }