body{
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(237, 247, 240);
 
}
.homeContainer{
  flex: 1;
  height:100vh;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  display: flex;
 
  margin-left: 50px;
  
}

.home{
  height: 85%;
  width: 90%;
  border: 1px solid #418df8;
  background-color: #d9f1fb;
  padding: 10px;
  border-radius: 10px;
  box-shadow:  10px 20px 50px rgb(83, 147, 236)8;
  
 
}
.home2{
  display: flex;
  flex-direction: row;
  height: 90%;
  width:  100%;
  padding: 5px;
}