body{
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(237, 247, 240);
 
}
.homeContainer{
  flex: 1;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 111%;
  
}

.home{
  height: 100vh;
  width: 100%;
  border: 1px solid #418df8;
  background-color: #d9f1fb;
  padding: 3px;
  box-shadow:  10px 20px 50px rgb(83, 147, 236)8;
  
 
}
.home2{
  display: flex;
  flex-direction: row;
  height: 93%;
  width:  100%;
  padding: 5px;
}