.container1 {
  display: flex;
  height: 100vh;
  margin: auto;
}
.top{
  height: 50px;
  width: 200vh;
  background-color: #007bff;
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: #007bff;
  width: 100px;
  height: 100%;
  align-items: center;
}

.tab-container {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100%;
}

.tab {
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  height: 30px;
  width: 30px;
  margin-top: 40px;
}
.avatar-home {
  width: 60px;
  height: 60px;
  margin-top: 20px;
}
.tab:hover {
  background-color: #0056b3;
}

.tab-icon {
  width: 40px;
  height: 40px;
  margin-top: 30px;
  
}

.tab-icon-setting {
  width: 40px;
  height: 40px;
  margin-top: 80px;
  
}
.h1 {
  margin-top: 50px;
  margin-left: 400px;
}
.avt {
  height: 40px;
  width: 40px;
  background-color: antiquewhite;
  border-radius: 25px;
  margin-left: 12px;
  margin-top: 20px;
}

.group-home-task{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}