.list{
      width: 3%;
      background-color: #418df8; 
      padding: 10px;
     
}
.listContainer{
      img{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            padding: 10px;
           
           

      }
      
}
.caiDat{
      margin-top: 200px;
}
