.timKiem{
      input{
            height: 30px;
            width: 70%;
            border: none;
            background-color: #a0c3f5;
            margin-left: 10px;
            color: white;
      }
      button{
            height: 30px;
            border: none;
            margin-left: 10px;
            background-color: #a0c3f5;
            color: white;
            
      }
}